{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="page-heading">
        <div class="row">
            <div class="col-md-6">
                <h1 class="page-title">{{ asset.name }}</h1>
            </div>
            <div class="col-md-2">
                <a type="button" href="/assets/{{ asset.pk }}/add-image"
                   class="btn btn-outline-primary px-5 mt-5" style="float: right;">
                    Загрузить изображение
                </a>
            </div>
            <div class="col-md-2">
                <a type="button" href="/assets/update/{{ asset.pk }}"
                   class="btn btn-outline-primary px-5 mt-5" style="float: right;">
                    Редактировать
                </a>
            </div>
            <div class="col-md-2">
                <a type="button" href="/assets/delete/{{ asset.pk }}"
                   class="btn btn-outline-danger px-5 mt-5" style="float: right;">
                    Удалить актив
                </a>
            </div>
        </div>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/">Активы</a>
            </li>
            <li class="breadcrumb-item">{{ asset.name }}</li>
        </ol>
    </div>
    <div class="page-content fade-in-up">
        <div class="ibox invoice">
            <div class="invoice-header">
                <div class="row">
                    <div class="col-6">
                        <div>
                            <div class="m-b-5 font-bold">Описание актива</div>
                            <div>
                                <p>{{ asset.description }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 text-right">
                        <div class="clf" style="margin-bottom:30px;">
                            <dl class="row pull-right" style="width:450px;">
                                <dt class="col-sm-6">Дата закупки</dt>
                                <dd class="col-sm-6">{{ asset.year_of_purchase }}</dd>
                                <dt class="col-sm-6">Дата регистрации</dt>
                                <dd class="col-sm-6">{{ asset.created_at }}</dd>
                                <dt class="col-sm-6">Дата обновления</dt>
                                <dd class="col-sm-6">{{ asset.updated_at }}</dd>
                            </dl>
                        </div>
                        <div>
                            <div class="m-b-5 font-bold">Местоположение</div>
                            <div>{{ asset.location.name }}</div>
                            <ul class="list-unstyled m-t-10">
                                <li class="m-b-5">г. {{ asset.location.city }}</li>
                                <li class="m-b-5">{{ asset.location.address }}</li>
                                <li>{{ asset.location.phone }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <table class="table table-striped no-margin table-invoice">
                <tbody>
                <tr>
                    <td>Стасус</td>
                    <td>{{ asset.get_status_display }}</td>
                </tr>
                <tr>
                    <td>Состояние</td>
                    <td>{{ asset.get_state_display }}</td>
                </tr>
                <tr>
                    <td>Стоимость</td>
                    <td>{{ asset.price }}</td>
                </tr>
                </tbody>
            </table>
            {% if asset.images.all|length > 0 %}
                <div id="carouselExampleControls" class="carousel slide mt-5" data-ride="carousel">
                <div class="carousel-inner">
                    {% for photo in asset.images.all %}
                        {% if photo == asset.images.all|first %}
                            <div class="carousel-item active">
                        {% else %}
                            <div class="carousel-item">
                        {% endif %}
                    <img src="{{ photo.image.url }}" class="d-block w-100" alt="{{ photo.title }}">
                    </div>
                    {% endfor %}
                    </div>
                    <button class="carousel-control-prev" type="button" data-target="#carouselExampleControls"
                            data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Предыдущий</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-target="#carouselExampleControls"
                            data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Следующий</span>
                    </button>
                </div>
            </div>
            {% endif %}
            {% if asset.history.all|length > 0 %}
                <h2 class="mb-4 mt-4">История актива</h2>
                <table class="table table-striped no-margin table-invoice mb-5">
                    <tbody>
                    <tr>
                        <th>Дата изменения</th>
                        <th>Событие</th>
                        <th>Старое значение</th>
                        <th>Новое значение</th>
                    </tr>
                    {% for item in asset.history.all %}
                        <tr>
                            <td>{{ item.created_at }}</td>
                            <td>{{ item.event_name }}</td>
                            {% if item.event_name == 'Создание актива' %}<td></td><td></td>{% endif %}
                            {% if item.old_name %}<td>{{ item.old_name }}</td>{% endif %}
                            {% if item.new_name %}<td>{{ item.new_name }}</td>{% endif %}
                            {% if item.old_location %}<td>{{ item.old_location.name }}</td>{% endif %}
                            {% if item.new_location %}<td>{{ item.new_location.name }}</td>{% endif %}
                            {% if item.old_price %}<td>{{ item.old_price }}</td>{% endif %}
                            {% if item.new_price %}<td>{{ item.new_price }}</td>{% endif %}
                            {% if item.old_state %}<td>{{ item.old_state }}</td>{% endif %}
                            {% if item.new_state %}<td>{{ item.new_state }}</td>{% endif %}
                            {% if item.old_status %}<td>{{ item.get_old_status_display }}</td>{% endif %}
                            {% if item.new_status %}<td>{{ item.get_new_status_display }}</td>{% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
            <style>
                .invoice {
                    padding: 20px
                }

                .invoice-header {
                    margin-bottom: 50px
                }

                .table-invoice tr td:last-child {
                    text-align: right;
                }
            </style>
        </div>
{% endblock %}