{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="page-content fade-in-up">
        <div class="page-heading">
            <div class="row">
                <div class="col-md-10">
                    <h1 class="page-title">Склады</h1>
                </div>
                <div class="col-md-2">
                    {% if user.is_superuser %}
                        <a type="button" href="{% url 'create_location' %}"
                           class="btn btn-outline-primary px-5 mt-5 float-right">
                            Добавить склад
                        </a>
                    {% endif %}
                </div>
            </div>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'dashboard' %}">Главная</a>
                </li>
                <li class="breadcrumb-item">Склады</li>
            </ol>
        </div>
        <div class="page-content fade-in-up">
            <div class="ibox">
                <div class="ibox-body">
                    {% include 'inc/location_table.html' %}
                    {% include 'inc/pagination.html' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}