{% extends 'base_auth.html' %}
{% block content %}
    <div class="content">
        <div class="brand">
            AssetsCRM
        </div>
        <form id="login-form" action="" method="post">
            <h2 class="login-title">Авторизация</h2>
            <div class="form-group">
                <div class="input-group-icon right">
                    <div class="input-icon"><i class="fa fa-envelope"></i></div>
                    {{ form.username }}
                </div>
            </div>
            <div class="form-group">
                <div class="input-group-icon right">
                    <div class="input-icon"><i class="fa fa-lock font-16"></i></div>
                    {{ form.password }}
                </div>
            </div>
            <div class="form-group d-flex justify-content-between">
                <label class="ui-checkbox ui-checkbox-info">
                    <input type="checkbox">
                    <span class="input-span"></span>Запомнить меня</label>
                <a href="forgot_password.html">Забыли пароль?</a>
            </div>
            <div class="form-group">
                {% csrf_token %}
                <button class="btn btn-info btn-block" type="submit">Войти</button>
            </div>
        </form>
    </div>
    <div class="sidenav-backdrop backdrop"></div>
    <div class="preloader-backdrop">
        <div class="page-preloader">Loading</div>
    </div>
{% endblock %}