{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="page-content fade-in-up">
        <div class="page-heading">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="page-title">Результаты поиска</h1>
                </div>
            </div>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'dashboard' %}">Главная</a>
                </li>
                <li class="breadcrumb-item">Поиск</li>
            </ol>
        </div>
        {% if assets|length %}
            <div class="page-content fade-in-up">
                <div class="ibox">
                    <div class="ibox-body">
                        <h4 class="my-3">Активы</h4>
                        {% include 'inc/asset_table.html' %}
                    </div>
                </div>
            </div>
        {% endif %}
        {% if locations|length %}
            <div class="page-content fade-in-up">
                <div class="ibox">
                    <div class="ibox-body">
                        <h4 class="my-3">Склады</h4>
                        {% include 'inc/location_table.html' %}
                    </div>
                </div>
            </div>
        {% endif %}
        {% if not locations|length and not assets|length %}
            <div class="page-content fade-in-up">
                <div class="ibox">
                    <div class="ibox-body">
                        <p class="mt-4">Ничего не найдено...</p>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
    <style>
        tr[class^="child-"] {
            display: none;
        }

        .width30 {
            width: 30px;
        }
    </style>
    <script src="{% static 'js/assetButtonsMixin.js' %}" type="text/javascript"></script>
{% endblock %}