{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="page-content fade-in-up">
        <div class="page-heading">
            <h1 class="page-title">Обновление склада {{ location.name }}</h1>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'dashboard' %}">Главная</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{% url 'locations' %}">Склады</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="/assets/{{ location.pk }}">{{ location.name }}</a>
                </li>
                <li class="breadcrumb-item">Обновление склада</li>
            </ol>
        </div>
        <div class="page-content fade-in-up">
            <div class="ibox">
                <div class="ibox-body">
                    <form method="POST">
                        {{ form.as_p }}
                        {% csrf_token %}
                        <button class="btn btn-info btn-block mt-5 mb-3" type="submit">Обновить склад</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}