{% load static %}
<header class="header">
    <div class="page-brand">
        <a class="link" href="/">
                    <span class="brand">Assets
                        <span class="brand-tip">CRM</span>
                    </span>
            <span class="brand-mini">AC</span>
        </a>
    </div>
    <div class="flexbox flex-1">
        <ul class="nav navbar-toolbar">
            <li>
                <form class="navbar-search" action="/" id="search_form" onsubmit="Search()">
                    <div class="rel">
                        <span class="search-icon"><i class="ti-search"></i></span>
                        <input class="form-control" name="search" placeholder="Поиск...">
                    </div>
                </form>
            </li>
        </ul>
        <ul class="nav navbar-toolbar">
            <li class="dropdown dropdown-user">
                <a class="nav-link dropdown-toggle link" data-toggle="dropdown">
                    <img src="{% static 'img/admin-avatar.png' %}"/>
                    <span></span>{{ user.get_username }}<i class="fa fa-angle-down m-l-5"></i></a>
                <ul class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="{% url 'profile' %}"><i class="fa fa-user"></i>Профиль</a>
                    <li class="dropdown-divider"></li>
                    <a class="dropdown-item" href="{% url 'logout' %}">
                        <i class="fa fa-power-off"></i>Выход
                    </a>
                </ul>
            </li>
        </ul>
    </div>
</header>