{% load static %}
<header class="header">
    <div class="page-brand">
        <a class="link" href="index.html">
                    <span class="brand">Assets
                        <span class="brand-tip">CRM</span>
                    </span>
            <span class="brand-mini">AC</span>
        </a>
    </div>
    <div class="flexbox flex-1">
        <ul class="nav navbar-toolbar">
            <li>
                <form class="navbar-search" action="javascript:;">
                    <div class="rel">
                        <span class="search-icon"><i class="ti-search"></i></span>
                        <input class="form-control" placeholder="Поиск...">
                    </div>
                </form>
            </li>
        </ul>
        <ul class="nav navbar-toolbar">
            <li class="dropdown dropdown-user">
                <a class="nav-link dropdown-toggle link" data-toggle="dropdown">
                    <img src="{% static 'img/admin-avatar.png' %}"/>
                    <span></span>Admin<i class="fa fa-angle-down m-l-5"></i></a>
                <ul class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="profile.html"><i class="fa fa-user"></i>Профиль</a>
                    <a class="dropdown-item" href="profile.html"><i class="fa fa-cog"></i>Настройки</a>
                    <a class="dropdown-item" href="javascript:;"><i class="fa fa-support"></i>О программе</a>
                    <li class="dropdown-divider"></li>
                    <a class="dropdown-item" href="login.html"><i class="fa fa-power-off"></i>Выход</a>
                </ul>
            </li>
        </ul>
    </div>
</header>