{% load static %}
<header class="header">
    <div class="page-brand">
        <a class="link" href="/">
                    <span class="brand">Assets
                        <span class="brand-tip">CRM</span>
                    </span>
            <span class="brand-mini">AC</span>
        </a>
    </div>
    <div class="flexbox flex-1">
        <ul class="nav navbar-toolbar">
            <li>
                <form class="navbar-search" action="/" id="search_form" onsubmit="Search()">
                    <div class="rel">
                        <span class="search-icon"><i class="ti-search"></i></span>
                        <input class="form-control" name="search" placeholder="Поиск...">
                    </div>
                </form>
            </li>
        </ul>
        <ul class="nav navbar-toolbar">
            <li class="dropdown dropdown-notification">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-bell-o rel">
                        {% if messages %}
                            <span class="notify-signal"></span>
                        {% endif %}
                    </i>
                </a>
                <ul class="dropdown-menu dropdown-menu-right dropdown-menu-media" x-placement="bottom-end"
                    style="position: absolute; transform: translate3d(45px, 45px, 0px); top: 0px; left: 0px; will-change: transform;">
                    <li class="dropdown-menu-header">
                        <div>
                            {% if messages %}
                                <span><strong>{{ messages|length }} новых</strong> уведомлений</span>
                            {% else %}
                                <span><strong>Нет новых</strong> уведомлений</span>
                            {% endif %}
                            <a class="pull-right" href="{% url 'notifications' %}">смотреть все</a>
                        </div>
                    </li>
                    <div class="slimScrollDiv"
                         style="position: relative; overflow: hidden; width: auto; height: 240px;">
                        <li class="list-group list-group-divider scroller" data-height="240px" data-color="#71808f"
                            style="overflow: hidden; width: auto; height: 240px;">
                            <div>
                                <a class="list-group-item">
                                    <div class="media">
                                        <div class="media-body">
                                            {% for message in messages %}
                                                {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                                                    <div class="font-13 alert alert-success">{{ message }}</div>
                                                {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                                                    <div class="font-13 alert alert-danger">{{ message }}</div>
                                                {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                                                    <div class="font-13 alert alert-warning">{{ message }}</div>
                                                {% else %}
                                                    <div class="font-13 alert alert-info">{{ message }}</div>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                </a>
                            </div>
                        </li>
                        <div class="slimScrollBar"
                             style="background: rgb(113, 128, 143); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 233.198px;"></div>
                        <div class="slimScrollRail"
                             style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.9; z-index: 90; right: 1px;"></div>
                    </div>
                </ul>
            </li>
            <li class="dropdown dropdown-user">
                <a class="nav-link dropdown-toggle link" data-toggle="dropdown">
                    <img src="{% static 'img/admin-avatar.png' %}"/>
                    <span></span>{{ user.get_username }}<i class="fa fa-angle-down m-l-5"></i></a>
                <ul class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="{% url 'profile' %}"><i class="fa fa-user"></i>Профиль</a>
                    <li class="dropdown-divider"></li>
                    <a class="dropdown-item" href="{% url 'logout' %}">
                        <i class="fa fa-power-off"></i>Выход
                    </a>
                </ul>
            </li>
        </ul>
    </div>
</header>