{% load static %}
<nav class="page-sidebar" id="sidebar">
    <div id="sidebar-collapse">
        <div class="admin-block d-flex">
            <div class="admin-info">
                <div class="font-strong">{{ user.get_full_name }}</div>
                {% if user.is_superuser %}
                    <small>Администратор</small>
                {% else %}
                    <small>Пользователь</small>
                {% endif %}
            </div>
        </div>
        <ul class="side-menu metismenu">
{#            <li>#}
{#                <a class="active" href="{% url 'assets' %}">#}
{#                    <i class="sidebar-item-icon fa fa-th-large"></i>#}
{#                    <span class="nav-label">Дашборд</span>#}
{#                </a>#}
{#            </li>#}
            <li class="heading">Страницы</li>
            <li>
                <a href="{% url 'assets' %}">
                    <i class="sidebar-item-icon fa fa-bookmark"></i>
                    <span class="nav-label">Активы</span>
                </a>
            </li>
            <li>
                <a href="{% url 'locations' %}">
                    <i class="sidebar-item-icon fa fa-map"></i>
                    <span class="nav-label">Склады</span>
                </a>
            </li>
            <li>
                <a href="{% url 'orders' %}">
                    <i class="sidebar-item-icon fa fa-first-order"></i>
                    <span class="nav-label">Отчеты</span>
                </a>
            </li>
            {% if user.is_superuser %}
                <li>
                    <a href="/import">
                        <i class="sidebar-item-icon fa fa-file-excel-o"></i>
                        <span class="nav-label">Импорт</span>
                    </a>
                </li>
                <li>
                    <a href="/admin">
                        <i class="sidebar-item-icon fa fa-server"></i>
                        <span class="nav-label">Админка</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>